extends layout

block body
    h1= Pagamentos
    p Pagamentos Realizados no Aplicativo

    // Wrapper
    #wrapper
        
        #paymentInfo
            h2 Informações do Pagamento
            p
                strong ID:
                |  <span id='paymentInfoID'></span>
                br
                strong Cliente:
                |  <span id='paymentInfoMatching'></span>
                br
                strong Prestador:
                |  <span id='paymentInfoWorking'></span>
                br
                strong Serviço:
                |  <span id='paymentInfoName'></span>
                br
                strong Tipo:
                |  <span id='paymentInfoType'></span>
                br
                strong Cartão:
                |  <span id='paymentInfoCard'></span>
                br
                strong Parcelas:
                |  <span id='paymentInfoCondition'></span>
                br
                strong Data do Pagamento:
                |  <span id='paymentInfoDate'></span>
                br
                strong Preço:
                |  <span id='paymentInfoPrice'></span>
                br
                strong Taxa:
                |  <span id='paymentInfoTax'></span>
                br
                strong Pago:
                |  <span id='paymentInfoPaid'></span>
                
        h2 Lista de Pagamentos
        #paymentList
            table
                thead
                    th UserName
                    th Email
                    th 
                    th 
                    th 
                    th 
                    th 
                    th 
                    th 
                    th 
                    th 
                tbody
        // /USER LIST
        // ADD USER
        h2 Add User
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='Full Name')
                input#inputUserAge(type='text', placeholder='Age')
                br
                input#inputUserLocation(type='text', placeholder='Location')
                input#inputUserGender(type='text', placeholder='gender')
                br
                button#btnAddUser Add User
        // /ADD USER
    // /WRAPPER
